html {
  font-size: 16px;
  touch-action: manipulation;
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

button,
input,
a {
  min-height: 44px;
  min-width: 44px;
}

body {
  overscroll-behavior-y: none;
}
